@tailwind base;
@tailwind components;
@tailwind utilities;




.flyer-wrapper {
  width: 200px;
  height: 200px;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 640px) {
  .flyer-wrapper {
    width: 240px;
    height: 240px;
  }
}


@media (min-width: 768px) {
  .flyer-wrapper {
    width: 260px;
    height: 260px;
  }
}


.swiper-slide-active .flyer-wrapper {
  width: 320px;       
  height: 320px;
  transform: scale(1); 
  z-index: 10;
}


.swiper-pagination {
  position: relative !important;
  margin-top: 1.5rem;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #ffffff;
  transform: scale(1.3);
}


.transform-gpu {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}